# Nodejs
node_modules/
dist/

# env
.env
data/
platform-data/
verification-samples/

# vscode
.vscode/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript / coverage
*.tsbuildinfo
coverage/

# tmp
tmp
